.box-signup{
		width: 80%;
		height: auto;
		-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
		-webkit-background-clip: padding-box;
		box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
		background-color: #fff;
		margin-top: 5%;
		margin-left: 10%;
		padding: 5%;

	}
		.text-login{
			text-align: center;
			color: #14a499;
			font-size: 30px;
		}
		.text-form{
			padding-top: 5%;
			color: #6E6E6E;
		}
		.email{
			height: 36px;
			width: 100%;
			background-color: #e7effd;
			border:0px;
			box-shadow: 0 4px 2px -2px #6E6E6E;
		}
		.password{
			height: 36px;
			width: 100%;
			background-color: #e7effd;
			border:0px;
			box-shadow: 0 4px 2px -2px #6E6E6E;
		}
		
		.button-confirm{
			padding-top: 30px; 
		}		
			.confirm{
				background-color: #14a499;
				border: 0px;
				width: 100%;
				height: 30px;	
				border-radius: 3px;
				color: White;			
			}