.body-login{
	margin-top: 5%;
}
.body-left{
	background-color: #49cbb1;
	height: 100%;
}
.body-right{
	height: 100%;
}	
@media only screen and (max-width: 1024px) {
  .body-login{
	margin-top: 0%;
}
}