.logo img{
		width: 50%;
		height: auto;
		margin-top: 30%;
		margin-left: 26%;
	}
	.text1{
		text-align: center;
		color: White;

	}
	.text2{
		text-align: center;
		color: White;
		margin-top: 25%;
		margin-bottom: 5%;
	}
@media only screen and (min-width: 425px) {
		.logo img{
	    width: 60%;
	    height: auto;
	    margin-top: 10%;
	    margin-left: 18%;
		}	

		.text2{
		display: none;
		}
		.text1{
		font-size: 140%;
	}


}
@media only screen and (min-width: 320px) {
		.logo img{
	        width: 61%;
    		height: auto;
    		margin-top: 17%;
    		margin-left: 17%;
		}	

		.text2{
		display: none;
		}
		.text1{
		font-size: 110%;
	}


}
@media only screen and (min-width: 360px) {
		.logo img{
	        width: 61%;
    		height: auto;
    		margin-top: 14%;
    		margin-left: 17%;
		}	

		.text2{
		display: none;
		}
		.text1{
		font-size: 150%;
	}


}
@media only screen and (min-width: 375px) {
		.logo img{
	        width: 61%;
    		height: auto;
    		margin-top: 11%;
    		margin-left: 17%;
		}	

		.text2{
		display: none;
		}
		.text1{
		font-size: 150%;
	}


}



@media only screen and (min-width: 414px) {
		.logo img{
	        width: 61%;
    		height: auto;
    		margin-top: 10.5%;
    		margin-left: 18%;
		}	

		.text2{
		display: none;
		}
		.text1{
		font-size: 140%;

	}


}
@media only screen and (min-width: 411px) {
		.logo img{
	        width: 61%;
    		height: auto;
    		margin-top: 10%;
    		margin-left: 18%;
		}	

		.text2{
		display: none;
		}
		.text1{
		font-size: 140%;

	}

}
@media only screen and (min-width: 768px) {
		.text2{
		display: block;
		}
		 .logo img{   width: 61%;
    height: auto;
    margin-top: 40%;
    margin-left: 18%;
	}
}
@media only screen and (min-width: 1024px) {
	.logo img{   width: 61%;
	    height: auto;
		margin-top: 35%;
		margin-left: 18%;
	}
}