.avatar{
	margin-bottom: 6%;
}
	.image-proflie{
		width: 100%;

	}
		.image-profile img {
			width: 20%;
			height: auto;
			display: block;
			margin-right: auto;
			margin-left: auto;
			
		}
			#change-icon{
				margin-top: -4%;
    			padding-left: 54%;
			}

			#change-ava{
				padding: 0.5%;
				width:8%;
				border-radius: 50%;
				border: 2px solid gray;
				background-color: #f6f6f6;
			}

.form-profile{
	width: 100%;
	height: auto;
 	margin:0 !important;
}
	.text-form-profile{
		color: black;
		margin-top: 3%;
	}
	.form{
			height: 36px;
			width: 100%;
			border:0px;
			box-shadow: 0 4px 2px -2px #6E6E6E;
	}
	.button-update{
		margin-bottom: 10px;
		
	}		
		.update{
				margin-top: 3%;
				background-color: #DB7093;
				border: 0px;
				height: 30px;
				border-radius: 3px;
				color: White;
				margin-left: 78%;
		}