.profile{
	 background-color:#F2F2F2; 
	width: 100%;
	height: auto;
}
.body-profile{	
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	-webkit-background-clip: padding-box;
	box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	margin-top: 2%;
	margin-bottom: 2%;
	height: auto;
	padding: 2%;
	background-color: #fafafa;
}
