.box-login{
		width: 80%;
		height: auto;
		-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
		-webkit-background-clip: padding-box;
		box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
		background-color: #fff;
		padding: 5%;
		margin-left: 10%;
		margin-top: 17%;
	}
		.text-login{
			text-align: center;
			color: #14a499;
			font-size: 30px;
		}
		.text-form-login{
			padding-top: 5%;
			color: #6E6E6E;
		}
		.email-login{
			height: 36px;
			width: 100%;
			background-color: #e7effd;
			border:0px;
			box-shadow: 0 4px 2px -2px #6E6E6E;
		}
		.password-login{
			height: 36px;
			width: 100%;
			background-color: #e7effd;
			border:0px;
			box-shadow: 0 4px 2px -2px #6E6E6E;
		}
		.button-login{
			padding-top: 30px;
			
		}
			.login{
				background-color: #14a499;
				border: 0px;
				width: 100%;
				height: 30px;
				border-radius: 3px;
				color: White;
			}
		.button-signup{
			padding-top: 30px; 
		}		
			.signup{
				background-color: #14a499;
				border: 0px;
				width: 100%;
				height: 30px;	
				border-radius: 3px;
				color: White;
				margin-bottom: 20%;			
			}
		.text-responsive{ 
		 	color: #6E6E6E;
    		margin-top: 5%;
    		text-align: center;
    		display: none;
    	}
@media only screen and (max-width: 425px) {
	.box-login{
		width: 80%;
		height: auto;
		-webkit-box-shadow: none;
		-webkit-background-clip: none;
		box-shadow: none;
		background-color: #fff;
		padding: 5%;
		margin-left: 10%;
		margin-top: 5%;
	}
	.text-login{
		display: none;
	}
	.text-form-login{
			padding-top: 5%;
			color: #14a499;
		}
	.email-login{
			height: 34px;
			width: 100%;
			background-color: #e7effd;
			border:0px;
			box-shadow: 0 4px 2px -2px #14a499;
		}
		.password-login{
			height: 34px;
			width: 100%;
			background-color: #e7effd;
			border:0px;
			box-shadow: 0 4px 2px -2px #14a499;
	
		}
		.button-signup {
    	padding-top: 1%;
		}
		.text-responsive{ 		 	
    		display: block;
       	}

}

@media only screen and (min-width: 768px) {
		.box-login{
		margin-top: 8%;
	}
}
@media only screen and (min-width: 1024px) {
		.box-login{
		margin-top: 13%;
	}
	}

